imbalanced_learn==0.14.0
matplotlib==3.10.8
neurokit2==0.2.12
numpy==2.4.1
pandas==2.3.3
pydantic==2.12.5
pytorch_lightning==2.5.4
scikit_learn==1.8.0
scipy==1.17.0
torch==2.8.0+cu128
torchmetrics==1.8.2
tqdm==4.67.1
wfdb==4.3.0
